/* Open Props - Sizes, Radii, Shadows, Easing */

@import 'open-props/sizes.min.css';
@import 'open-props/borders.min.css';
@import 'open-props/shadows.min.css';
@import 'open-props/easings.min.css';
